.nav {
  display: flex;
  flex-direction: row;
}

.b {
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  background-color: beige;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  align-items: center;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
}
.nav-link {
  margin: 0.5rem 1rem;
  text-decoration: none;
  color: black;
}

main {
  margin: 1.5rem 2rem;
}

.listing {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: auto auto;
  grid-template-areas: "listing-img listing-info" "listing-description listing-description";
  margin-bottom: 3rem;
}
.listing-date {
  font-size: 0.8rem;
}
.listing-img {
  grid-area: listing-img;
  display: flex;
}
.listing-img img, .listing-img p {
  margin: auto;
}
.listing-info {
  grid-area: listing-info;
}
.listing-info-item {
  margin: 0.5rem 0;
}
.listing-description {
  grid-area: listing-description;
}
