{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav class="nav">
            <div class="nav-menu">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                <a class="nav-link" href="{% url 'new_listing' %}">Create Listing</a>
            </div>
            <div class="nav-auth">
                <a class="nav-link b" href="{% url 'profile' %}">{{ user.username}}</a>
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </div>
            {% else %}
            </div>
            <div class="nav-auth">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </div>
            {% endif %}
        </nav>
        <hr>
        <main>
            {% block body %}
            {% endblock %}
        </main>
    </body>
</html>
