@import './mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    background-color: beige;
    font-family: $font-family;
}

.nav {
    @extend %flex-row;
    align-items: center;
    justify-content: space-between;

    &-menu {
        display: flex;
    }

    &-link {
        margin: 0.5rem 1rem;
        text-decoration: none;
        color: black;
    }
}

main {
    margin: 1.5rem 2rem;
}

.listing {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'listing-img listing-info'
                        'listing-description listing-description';
    margin-bottom: 3rem;

    &-date {
        font-size: 0.8rem;
    }

    &-img {
        grid-area: listing-img;
        display: flex;

        img, p {
            margin: auto;
        }
    }

    &-info {
        grid-area: listing-info;
        &-item {
            margin: 0.5rem 0;
        }
    }

    &-description {
        grid-area: listing-description;
    }

}

